.content {

  height: 100px;
  padding: 150px;

  p {
    margin: 0;
    text-align: center;
    font-family: Montserrat, serif;
    color: #fff;
  }

  .title {
    font-size: 64px;
  }

  .message {
    font-size: 18px;
  }
}