.search {
  border: none;
  height: 57px;
  width: 713px;
  opacity: 0.7;
  border-radius: 4px;
  background-color: rgba(50, 50, 50, 0.8);
  box-shadow: 0 4px 0 0 rgba(246, 82, 97, 0.65);
}

.button {
  border: none;
  height: 57px;
  width: 233px;
  border-radius: 4px;
  background-color: #F65261;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
}

.title {
  height: 49px;
  width: 393px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
}